.background-start{
  overflow: hidden;
  background: url('../imagens/background.jpg') no-repeat fixed;
  background-size:cover;
  background-position-y:center;
}

.transparent-dark {
  background:rgba(0,0,0,0.75);
}

.transparent-white {
  background:rgba(255,255,255,0.75);
}

.color-default{
  background-color: #550000;
}

.colorText-default{
  color: #550000;
}

.color-links{
  color: #D46A6A;
}

.button-color:hover{
  background-color: #550000;
}

.input-field label {
    color: #000;
  }

  .input-field input[type=text] + label{
    color: #000;
  }

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #550000;
   }

   .input-field input[type=password]:focus + label {
     color: #550000;
   }

   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #550000;
     box-shadow: 0 1px 0 0 #550000;
   }

   .input-field input[type=password]:focus {
     border-bottom: 1px solid #550000;
     box-shadow: 0 1px 0 0 #550000;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #550000;
   }


.full-screen{
  height: 100vh;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

  main {
    display: flex !important;
    min-height: calc(100vh - 154px) !important;
    flex-direction: column !important;
    flex: 1 0 auto !important;
    background-color: #FFAAAA;
  }

  .dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 4;
  will-change: height;
}

.dropdown-content li>a, .dropdown-content li>span{
  color:#550000 !important;
}

  nav ul a:hover {
      background-color: rgba(0,0,0,0.3) !important;
  }
.eventsCard > .card-panel:hover, #pendencias:hover{
  background-color: rgba(0,0,0,0.3) !important;
  cursor: pointer;
}

footer.page-footer {
  margin-top: 0px !important;
  background-color: #550000 !important;
}

.btn:hover{
  background-color: #801515;
}
.pendencia, .ranking{
  overflow-y: scroll;
  max-height: 300px;
}

.eventos, .promocoes{
  overflow-y: scroll;
  max-height: 425px;
}

.votacao{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 521px;
}

.progress{
  background-color:#FFAAAA;
}

.progress .determinate{
  background-color:#550000;
}

.intern{
  margin: 10px;
}
