.background-start{
  overflow: hidden;
  background: url('../imagens/background.jpg') no-repeat fixed;
  background-size:cover;
  background-position-y:center;
}

.background-404{
  overflow: hidden;
  background: url('../imagens/404back.jpg') no-repeat fixed;
  background-size:cover;
  background-position-y:center;
}

.background-erro{
  overflow: hidden;
  background: url('../imagens/erroback.jpg') no-repeat fixed;
  background-size:cover;
  background-position-y:center;
}

.transparent-dark {
  background:rgba(0,0,0,0.75);
}

.transparent-white {
  background:rgba(255,255,255,0.75);
}

.color-default{
  background-color: #550000;
}

.colorText-default{
  color: #550000;
}

.colorText-finalizada{
  color: #0A4800;
}

.color-links{
  color: #D46A6A;
}

.button-color:hover{
  background-color: #550000;
}

.input-field label {
    color: #000;
  }

  .input-field input[type=text] + label{
    color: #000;
  }

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #550000;
   }

   .input-field input[type=password]:focus + label {
     color: #550000;
   }

   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #550000;
     box-shadow: 0 1px 0 0 #550000;
   }

   .input-field input[type=password]:focus {
     border-bottom: 1px solid #550000;
     box-shadow: 0 1px 0 0 #550000;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #550000;
   }

   .corMensagemErro {
     color:#8F8F8F;
   }


.full-screen{
  height: 100vh;
}
@media screen and (min-width: 640px) {
  .full-screen-less-nav{
    height: calc(100vh - 134px) !important;
  }
}

@media screen and (max-width: 640px) {
  .full-screen-less-nav{
    height: 120vh !important;
  }
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

  main {
    display: flex !important;
    min-height: calc(100vh - 134px) !important;
    flex-direction: column !important;
    flex: 1 0 auto !important;
    background-color: #EEE;
  }

  .dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  max-height: auto;
  min-width: 150px;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 4;
  will-change: width, height;
}

.dropdown-content li>a, .dropdown-content li>span{
  color:#550000 !important;
}

  nav ul a:hover {
      background-color: rgba(0,0,0,0.1) !important;
  }
.eventsCard > .card-panel:hover{
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

#pendencia:hover{
  cursor: pointer;
}

.finalizada:hover{
  background-color: #e57373 !important;
}

.aberta:hover{
  background-color: #81c784 !important;
}

footer.page-footer {
  margin-top: 0px !important;
  background-color: #550000 !important;
}

.btn:hover{
  background-color: #801515;
}
.pendencia, .ranking{
  overflow-y: scroll;
  height: 255px;
}

.eventos, .promocoes{
  overflow-y: scroll;
  height: 423px;
}

.alertas, .ultimasAtualizacoes{
  overflow-y: scroll;
  height: 580px;
}

#cardUsuario, #cardVotacao {
  height: 300px;
}

.votacao{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 540px;
}

.progress{
  background-color:#888;
}

.progress .determinate{
  background-color:#550000;
}

.intern{
  margin: 10px;
}

input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}

input#search: focus {
  outline:none;
}

input#search:not([type]):focus:not([readonly]){
  box-shadow: 0 0 0 0;
}

@media screen and (min-width: 992px){
  .gigante{
    font-size: 20vh;
  }
  .extraGrande{
    font-size: 3.5vh;
  }
  .grande{
    font-size: 2.5vh;
  }
  .media{
    font-size: 2.0vh;
  }
  .pequena{
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 640px) {
  .gigante{
    font-size: 20vmax;
  }
  .extraGrande{
    font-size: 3.5vmax;
  }
  .grande{
    font-size: 2.5vmax;
  }
  .media{
    font-size: 2.0vmax;
  }
  .pequena{
    font-size: 1.5vmax;
  }
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
}

.scrollbar::-webkit-scrollbar-track
{
  background-color: none;
}

.scrollbar::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 11px;
}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 12px;
  border: 4px solid rgba(255,255,255,0);
  background-clip: content-box;
  background-color: #550000;
}

@media screen and (max-width: 640px) {
  nav {
    line-height: 0px;
  }
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
  background-color: #550000 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #550000 !important;
}

textarea:focus:not([readonly]){
  border-bottom: 1px solid #550000 !important;
  box-shadow: 0 1px 0 0 #550000 !important;
}

textarea:focus:not([readonly])+label {
  color: #550000 !important;
}

/*button-color*/
.btn{
  background-color: #550000 !important;
}

#campoBusca{
  transition: all 0.4s ease;
}

@media screen and (min-width: 992px){
  #campoBusca.stick {
    top: 54px;
  }
}

@media screen and (max-width: 990px){
    #campoBusca.stick {
      top: 45px;
    }
}

#campoBusca.stick {
    display: block;
    position: fixed;
    z-index: 500;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#base-historico{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.full-screen-perfil{
  min-height: calc(100vh - 114px);
}

.picker__weekday-display, .picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #550000;
}

.picker__day.picker__day--today, .picker__close, .picker__today{
  color: #550000;
}

/*Animações*/


#arrow {
  -webkit-animation: animation 3000ms linear infinite both;
  animation: animation 3000ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/yZpBVP */

@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.2% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 7.978, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 7.978, 0, 1); }
  4.3% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.036, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.036, 0, 1); }
  6.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.716, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.716, 0, 1); }
  8.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 28.143, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 28.143, 0, 1); }
  11.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.931, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.931, 0, 1); }
  13.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.504, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.504, 0, 1); }
  15.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.979, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 17.979, 0, 1); }
  18.22% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 16.828, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 16.828, 0, 1); }
  23.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.475, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.475, 0, 1); }
  27.73% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.235, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.235, 0, 1); }
  37.24% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.519, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.519, 0, 1); }
  46.75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.187, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.187, 0, 1); }
  56.36% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.927, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.927, 0, 1); }
  65.87% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.028, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.028, 0, 1); }
  75.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.989, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.989, 0, 1); }
  84.88% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.004, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.004, 0, 1); }
  94.49% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.998, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 19.998, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
}
