@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "OPUS SAM API";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <p>[Rodando]</p>
    <h3>Fazer alguma documentação explicando as apis</h3>
</body>
</html>
